*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 500px;

    margin: auto;
}

.bloco{
    display: block;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin-top: 15px;

    height: 300px;
    width: 230px;

    border: 1px solid grey;
    border-radius: 10px;
}

label{
    font-size: 1.2em;
}

input{
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 15px;

    border: 1px solid #a7a7a7;
    border-radius: 15px;
}

.resultados{
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

button{
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px;
}